<body>
	<main>
	<section class="main-contair clearfix">

	<!-- ここからSlidebar -->	
		<div class="sidebar">
			<section class ="news">
				<h2 class="news-headline">お知らせ</h2>
				<div class="news-content">
				<% @topics.first(5).each do |topic| %>
					<p class="news-content-text">
						<%= topic.created_at.strftime("%Y.%m.%d") %><br>
						<%= topic.body %>
					</p>
				<% end %>
				</div>
			</section>
			<div class="slidebar-blank"></div>
			<section class="category">
				<h2 class="category-headline">カテゴリー</h2>
				<div class="category-content">
					<% @categories.each do |category| %>
					 <p class="category-content-text"><%=link_to category.name, category_blog_path(category.name) %>(<%= @category_count.where(category_id: category.id).count %>)
					 </p>
					<% end %>
				</div>

			</section>
		</div>
	<!-- ここまでSlidebar -->

	<!-- ここからBlog -->
		<section class="blog-contair clearfix">
			<h2 class="blog-headline">Blogs</h2>
			<% @blogs.order("created_at desc").each do |blog| %>
				<div class="blog-box clearfix">
				<div class="blog-box-img">
				 　<% if  blog.image_id.present? %>
                   	 <%= attachment_image_tag blog, :image, :fill , 200, 200, format: "JPG" %>
                	<% else %>
				     <%= image_tag "no_image.jpg", :width => "200", :height => "200" %>
                	<% end %>
                	</div>
					<div class="blog-box-date"><i class="fa fa-clock-o" aria-hidden="true"></i>
						<%= blog.created_at.strftime("%Y.%m.%d") %>
					</div>
					<div class ="blog-box-title">
						<%= link_to blog.title, blog_path(blog) %>
					</div>
					<div class="blog-box-category">
						<%= link_to @categories.find(blog.category_id).name, category_blog_path(@categories.find(blog.category_id).name) %>
					</div>
					<div class="blog-box-body">
						<%= simple_format(blog.body.truncate(35)) %>
					</div>

				</div>
			<% end %>
       	<div class="paginate"><%= paginate @blogs %></div>
		</section>
	<!-- ここまでBlog -->

	</section>
	</main>
</body>