<h2 style="color: grey;">【ブログ編集ページ】</h2>
<section class="admin-contair clearfix">
<br>
<h3>■ブログ記事の新規投稿</h3>
<%= form_for(@blog) do |f| %>
	<p>タイトル</p>
	<%= f.text_field :title %>
	<p>カテゴリを選択</p>
	<%= f.collection_select :category_id, Category.all, :id, :name %>
	<p>本文</p>
	<%= f.text_area :body, size: "100×500" %>
	<p>画像の追加</p>
	<%= f.attachment_field :image %>
	<br>
	<br>
	<%= f.submit "新規投稿する", "data-confirm" => "新規ブログ記事を投稿します" %>
<% end %>
<br>
<br>
<p><%= link_to "Topページへ", blogs_path, :style => "color: grey;" %></p>
<p><%= link_to "管理用ページTopへ", admin_path, :style => "color: grey;"  %></p>
</section>