<h1>お知らせ編集</h1>
<%= form_for(@topic) do |f| %>
	<h3>既存のカテゴリ名：<%= @topic.body %></h3>
	<h3>新しいカテゴリ名：<%= f.text_field :body %>
	<%= f.submit "上書き" %></h3>
<% end %>
<br>
<br>
<h2>お知らせ一覧</h2>

<% @topics.each do |topic| %>
<ul>
	<li>
		<%= topic.body %>
	</li>
</ul>	

<% end %>

<p><%= link_to "mysiteへ", blogs_path, :style => 'color:grey;' %></p>
<p><%= link_to "adminページへ", admin_path, :style => 'color:grey;' %></p>
