<h1>お知らせ追加のページ</h1>
<%= form_for(@topic) do |f| %>
	<h3>お知らせの内容：<%= f.text_area :body %>
	<%= f.submit "お知らせ追加" %></h3>
<% end %>
<br>
<br>
<h2>お知らせ一覧</h2>

<% @topics.each do |topic| %>
<ul>
	<li>
		○<%= topic.body %>　<%= link_to "[削除]", topic_path(topic), method: :delete, "data-confirm" => "選択したおしらせを削除します", :style => 'color:grey;' %>   <%= link_to "[編集]", edit_topic_path(topic), :style => 'color:grey;' %>
	</li>
</ul>	

<% end %>
<br>
<br>
<br>
<p><%= link_to "mysiteへ", blogs_path, :style => 'color:grey;' %></p>
<p><%= link_to "adminページへ", admin_path, :style => 'color:grey;' %></p>

