<h2 style="color: grey;">【お知らせ編集ページ】</h2>
<section class="admin-contair">
<h3>■お知らせの追加</h3>
<%= form_for(@topic) do |f| %>
　お知らせの内容：<%= f.text_field :body %>
<%= f.submit "お知らせを追加" %>
<% end %>
<br>
<br>
<h3>■お知らせ一覧</h3>
<% @topics.each do |topic| %>
	<ul>
		<li class="admin-topic-list">
		<%= topic.created_at %><br>
		<%= topic.body %>　<%= link_to "[編集]", edit_topic_path(topic) %>　<%= link_to "[削除]", topic_path(topic), method: :delete, "data-confirm" => "選択したおしらせを削除します" %>
		</li>
		<br>
	</ul>
<% end %>
<div class="paginate" style="text-align:left; padding-left:10px;"><%= paginate @topics %></div>
<br>
<br>
<p><%= link_to "Topページへ", blogs_path %></p>
<p><%= link_to "管理用ページTopへ", admin_path %></p>
</section>