
<section class="admin-contair clearfix">
<section id="admin-headline">
	<h1>【ブログの編集・削除のページ】</h1>
	<p class="admin-headline-link"><%= link_to "→ブログの新規投稿←", new_blog_path %></p>
	<p class="admin-headline-link"><%= link_to "→管理用ページTopへ←", admin_path %></p>
	<br>
</section>

<% @blogs.each do |blog| %>
	<div class="admin-blog clearfix">
		<div class="admin-blog-box">
			<p class="admin-blog-date">投稿日時｜<%= blog.created_at %></p>
			<p class="admin-blog-date">編集日時｜<%= blog.updated_at %></p>
			<p class="admin-blog-title">タイトル｜<%= blog.title %></p>
			<p class="admin-blog-category">カテゴリ｜<%= blog.category.name %></p>
			<div class="admin-blog-img">
				<% if  blog.image_id.present? %>
                    <%= attachment_image_tag blog, :image, :fill, 50, 50, format: 'jpg' %>
                <% else %>
                    <%= image_tag "no_image.jpg", :width => "50", :height => "50" %>
                <% end %>
             </div>
		</div>
			<div class="admin-blog-link">
				<%= link_to "記事の編集", edit_blog_path(blog)%><br>
				<%= link_to "記事の削除", blog_path(blog), method: :delete, "data-confirm" => "本当に削除しますか？"%></div>
	</div>
<% end %>
<div class="admin-paginate" ><%= paginate @blogs %></div>
</section>