
<section class="admin-contair clearfix">
<section id="admin-headline">
	<h1>【アルバムの編集・削除のページ】</h1>
	<p class="admin-headline-link"><%= link_to "→アルバムの新規追加←", new_album_path %></p>
	<p class="admin-headline-link"><%= link_to "→管理用ページTopへ←", admin_path %></p>
	<br>
</section>

<% @albums.each do |album| %>
	<div class="admin-blog clearfix">
		<div class="admin-blog-box">
			<p class="admin-blog-title">タイトル｜<%= album.title %></p>
			<p class="admin-blog-date">撮影日時｜<%= album.date %></p>
			<p class="admin-blog-date">撮影場所｜<%= album.place %></p>
		</div>
			<div class="admin-blog-link">
				<%= link_to "アルバムの編集", edit_album_path(album)%><br>
				<%= link_to "アルバムの削除", album_path(album), method: :delete, "data-confirm" => "本当に削除しますか？"%>
			</div>
	</div>
<% end %>
<div class="admin-paginate" ><%= paginate @albums %></div>
</section>