<h1>管理用ページ</h1>
<br>
<br>
<div class="admin_page">
<h2><%= link_to "ブログのページ", admin_blogs_path %></h2>
<br>
<h2><%= link_to "カテゴリのページ", categories_path %></h2>
<br>
<h2><%= link_to "お知らせの追加", topics_path %></h2>
<br>
<h2><%= link_to "アルバムのページ", admin_albums_path %></h2>
<br>

<br>
<br>
<p><%= link_to "Topページへ", blogs_path %></p>
<p><%= link_to "adminページへ", admin_path %></p>
</div>