
<h3>■アルバムの情報を編集</h3>
<%= form_for(@album) do |f| %>
	<h4>タイトル</h4>
	<%= f.text_field :title %>
	<h4>時間</h4>
	<%= f.text_field :date %>
	<h4>場所</h4>
	<%= f.text_area :place %>
　　<%= f.submit 'アルバム情報の更新' %>
<% end %>
<br>
<br>

	<h3>■アルバムへ写真を追加する</h3>
<%= form_for @photo, url: admin_photos_create_path, method: :post do |f| %>
	<%= f.attachment_field :image%>
	<%= f.submit "選択した写真を追加" %>
<% end %>

<br>
<br>
	<h3>■アルバムの写真を削除する</h3>
<% @photos.each do |photo| %>
	<%= attachment_image_tag(photo, :image, :fill, 100, 100, format: "JPG") %>
	<%= link_to "写真の削除", admin_photos_destroy_path(album_id: photo.album_id, id: photo), method: :delete, :style => 'color:grey;' %>
<% end %>





