	<main>
	<section class="main-contair clearfix">
		<section class="album-contair clearfix">
			<h2 class="album-headline">Albums
			<%= form_tag albums_place_path, :method => :get do %>
			<%= select_tag 'place' ,options_for_select(@places) %>
			<%= submit_tag "選択した場所で検索"%>
			<% end %>
			<%= button_to "選択した場所で検索の画面2", {controller: 'albums', action: 'indexplace2'}, {method: :get} %>
			<%= button_to "すべてのアルバム表示", {controller: 'albums', action: 'index'}, {method: :get} %>
			</h2>
			<% @places.each do |place| %>
		<div class="album-place-box clearfix">
			<h2 class="album-order"><%= place %></h2>
			<% @albums.each do |album| %>
			<% if place == album.place %>
			<div class="album-box">
				<div class ="album-box-title">
					<%=link_to album.title, album_path(album) %></div>
					<div class="album-box-date"><i class="fa fa-clock-o" aria-hidden="true"></i>
						<%= album.date.strftime("%Y/%m/%d") %>
					</div>
					<div class="album-box-place">
 					  撮影場所:<%= album.place.truncate(7) %>
					</div>
					<div class="album-box-img">
					<% @photos.where(album_id: album).shuffle.first(1).each do |photo| %>
						<%= attachment_image_tag photo, :image, :fill, 240, 180 %>
					<% end %>
					</div>
			</div>
			<% end %>
			<% end %>
		</div>
			<% end %>
		</section>
	</section>
	</main>