<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:400,500" rel="stylesheet">
    <%= stylesheet_link_tag    'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'  %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
    <h3 class ="header-headline"><a href="/blogs">My Site</a></h3>
    <div class="header-link">
    <% if user_signed_in? && current_user.admin?%>
            <i><%= link_to "管理ページ", admin_path, target: "_blank" %></i>
            <i><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></i>
    <% elsif user_signed_in? %>
           <i><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></i>
    <% else %>
            <a href="/users/sign_in"><i class="fa fa-user" aria-hidden="true"></i></a>
    <% end %>
    </div>
  </header>

    <%= yield %>

  <footer>
    <p class="footer-text">All Rights Reserved SHIMIZU </p>
  </footer>
  </body>
</html>
